page-home {
  ion-grid.grid {
    background-color: $text-color;
    padding: 0;
  }

  ion-row {
    .col {
      color: color($colors, text-color);
      height: 130px;
      padding: 30px;
    }
  }

  ion-col#box2.col {
    padding:0;
  }

  #box1 {
    background-color: #000000;
    height: 400px;
    border: 1px solid #ededed;
    border-right:none;
    background-image: url("../../assets/imgs/change.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  }

  #subbox1, #subbox2 {
    background-color: #000000;
    height: 200px;
    border: 1px solid #ededed;
    background-image: url("../../assets/imgs/idealisme.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  }

  #subbox2 {
    border-top: none;
    background-image: url("../../assets/imgs/science.jpg");
  }

  h1 {
    font-size: 35px;
    display: grid;
    justify-content: center;
  }

  h2 {
    font-size: 18px;
    display: grid;
    justify-content: center;
  }

  p {
    font-size: 16px;
    display: grid;
    justify-content: center;
  }

  h4 {
    font-size: 14px;
    display: grid;
    justify-content: center;
  }

  @for $i from 1 through 12 {
    $bg-color: darken(gray, ($i + $i));
    [col-#{$i}] {
      background-color: $bg-color;
    }
  }
}


