page-home {

  ion-grid.grid {
    background-color: $text-color;
    padding: 0;
  }

  ion-row {
    .col {
      color: color($colors, text-color);
      height: 130px;
      padding: 30px;
    }
  }

  ion-col#box2.col {
    padding:0;
  }

  #box1 {
    background-color: #ededed;
    height: 400px;
  }

  #subbox1 {
    background-color: #bbbbbb;
    height: 200px;
  }

  #subbox2 {
    background-color: #6d00ff;
    height: 200px;
  }

  h1, h2 {
    font-size: 18px;
    display: grid;
    justify-content: center;
  }

  p {
    font-size: 16px;
    display: grid;
    justify-content: center;
  }

  h4 {
    font-size: 14px;
    display: grid;
    justify-content: center;
  }

  @for $i from 1 through 12 {
    $bg-color: darken(gray, ($i + $i));
    [col-#{$i}] {
      background-color: $bg-color;
    }
  }
}


